BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AlignConsecutiveAssignments: None
PointerAlignment: Left
SortIncludes: Never
ReflowComments: false
BreakStringLiterals: false
FixNamespaceComments: false
InsertBraces: false
RemoveBracesLLVM: false
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1
StatementMacros: [CHOOM_BOOL]
AlignEscapedNewlines: Left
